
{%extends "../base.html"%}
{% block content %}
{% load transaction_extras %}

<h2> Resultat for periode: </h2>

<table class="table table-sm table-hover table-light">

    <thead>
    <tr> 
      <th scope="col"> i </th>
      <th scope="col"> Konto </th>
      <th scope="col"> Kr  </th>

    </tr>
    </thead>

    <tbody>
    <tr>
      <th class="table-secondary" colspan="2" > Utgifter </th>
      <th class="table-secondary"> {{account_dict|total:'deposit'}} </th>
    </tr>
    {% for key, value in account_dict.items %}
      {% if key.category_type == 'expence' %}
        <tr>
          <td>
          <a href="{%url 'transactions:category-detail' key.pk %}" class="btn-sm btn-outline-info btn-sm" role="button" aria-pressed="true">i</a>
          </td>
          <td scope="row">{{key.name}}</td>
          <td> {{value}} </td>
        </tr>
      {% endif %}
      {%endfor%}
      
      <tr>
          <th class="table-secondary" colspan="2"> Inntekter </th>
          <th class="table-secondary"> {{account_dict|total:'expence'}} </th>

      </tr>
    {% for key, value in account_dict.items %}

      {% if key.category_type == 'deposit' %}
        <tr>
        <td>
          <a href="{%url 'transactions:category-detail' key.pk %}" class="btn-sm btn-outline-dark btn-lg active" role="button" aria-pressed="true">i</a>
          </td>          <td scope="row">{{key.name}}</td>
          <td> {{value}}
        </tr>
      {% endif %}
    
    {% endfor %}
    </tbody>
</table>

   

<h3> Transaksjoner for perioden </h3>

{% include 'transactions/transaction_base.html' %}   


{% endblock %}
