<!--{% load transaction_extras %}


<h2> Resultat for periode: </h2>
<table class="table table-sm table-hover table-light">

    <thead>
    <tr> 
      <th scope="col"> Konto </th>
      <th scope="col"> Sum  </th>

    </tr>
    </thead>

    <tbody>

    {% for a in account_list %}
    
    <tr>
      <td scope="row">{{a.name}}</td>
      <td>{{ transaction_list|sum_account:a }}</td>
    </tr>
    
    {% endfor %}
    </tbody>
</table>

   


<table class="table table-sm table-hover table-light">

    <thead>
    <tr> 
      <th scope="col"> Dato </th>
      <th scope="col"> Type </th>
      <th scope="col"> Forklaring </th>
      <th scope="col"> Mengde </th>
      <th scope="col"> Konto </th>
      <th scope="col"> Underkonto </th>

    </tr>
    </thead>

    <tbody>
    {% for t in transaction_list %}
    
    <tr>
      <td scope="row">{{ t.date|date:"d-m-y" }}</td>
      <td>{{ t.transaction_type }}</td>
      <td>{{ t.description }}</td>
      <td>{{ t.amount }}</td>
      <td> {{t.account|default_if_none:""}} </td>
      <td>{{ t.subaccount|default_if_none:"" }}</td>
    </tr>
    
    {% endfor %}
    </tbody>
</table>

   
-->